@import url('https://fonts.googleapis.com/css2?family=Gotham:wght@400;700&display=swap');

:root {
  --logo-color:#E50914;
  --hover-color:white;
}

.logo {
  color: var(--logo-color);
  font-family: 'Gotham', sans-serif;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.logo:hover {
  color: var(--hover-color);
}
